@import "wacko.css";

/* basic -------------------------------------------------- */
p, td, li, select, textarea {
	font-family: Verdana;
	font-size: 13px;
	line-height: 1.3em;
}

label {
	cursor: pointer;
}

/* Textareas */
textarea {
	background-color: #FFFFFF;
}

body {
	font-family: Verdana;
	font-size: 13px;
	line-height: 1.3;
	color: #000000;
	background-color: #F8F8F8;
}

/* Hyperlinks */
a {
}
a:link {
	color: #990000;
}

a:visited {
	color: #666600;
}

a:hover {
	color: #990000;
	text-decoration: underline
}
a:active {
	color: #FF9900;
	text-decoration: underline;
}

img {
	border-width: 0px;
	vertical-align: middle;
}

form input.submitinput {
	color: #000;
}

.main {
	font-size: 22px;
}

.print {
	font-family: Verdana;
	font-size: 12px;
}

/* Errors */
.error {
	color: #CC3333;
	font-weight: bold;
}

.info {
	background: #F4FBFF;
	margin: 10px;
	padding: 10px 10px 10px 40px;
	border: 1px solid #D5D9E6;
	color: #CC3333;
	font-weight: bold;
}

/* Debugging informations */
.time {
	color: #999999;
	font-size: 9px;
	margin: 5px 20px;
}

.debug, .debug li {
	font-size: 11px;
	color: #888888;
}

#header {
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px; /*line-height: 22px;*/
}

#header-main {
	clear: both;
	overflow: hidden;
	padding: 10px 0px;
}

/** Styles for the main content in the page. *********************************/
	/* Default settings */
#content {
	background-color: #FFFFFF;
	padding: 9px 0px 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border: 1px inset;

}

#page {
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	border-top: none;
	border-bottom: none;
}

#pageedit {
	background-color: #FFFFFF;
	border-bottom: none;
}

#pageedit form textarea {
	width: 100%;
	height: 400px;
}

.footer {
	background-color: #DDDDDD;
	padding: 5px 10px;
	border: 1px inset;
	border-top: none;
	border-top: 1px solid #CCCCCC;
}

.footer {
	margin: 0;
	overflow: hidden;
	clear: both;
}

.footerlist {
	margin: 0 auto 0;
	overflow: hidden;
}

.footerlist ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footerlist li {
	border-left: 1px solid;
	border-left-style: solid;
	float: left;
	line-height: 1.2em;
	margin: 0 .5em 0 -.5em;
	padding: 0 .5em 0 .5em;
	white-space: nowrap;
}

.footerlist ul li form {
	display: inline;
}

/** File and comment-related *************************************************/
	/* Headers (always visible) */
#filesheader, #commentsheader, #rateheader {
	background-color: #DDDDDD;
	padding: 2px 10px;
	border-left: 1px inset;
	border-right: 1px inset;
	border-top: 1px solid #CCCCCC;
}
.files, .comment {
	background-color: #EEEEEE;
	padding: 10px;
	border-left: 1px inset;
	border-right: 1px inset;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #EEEEEE;
}

.comment:target {
	border: 2px solid #FF6600;
	/*padding: 0.5em 0.5em 0.5em 25px;*/
}

/* Comment author and date */
.commentinfo {
	color: #AAAAAA;
	padding-bottom: 20px;
	float: right;
	list-style-type: none;
}

li.comment {
	overflow: hidden;
}
ol#comments{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 10px 0 0;
	padding: 0;
}

.commentinfo li {
border:medium none;
margin:0;
padding:0;
width:320px;
}

.commenttext {
	float: left;
	width: 800px;
}

.commenttitle {
	line-height: 22px;
	font-weight: bold;
}

.commentpreview {
	width: 800px;
}

/* Change summary */
.editnote {
	color: #555555;
}

.review {
	font-weight:bold;
}
.filesform, .commentform {
	background-color: #EEEEEE;
	padding: 10px;
	border-left: 1px inset;
	border-right: 1px inset;
	border-top: 1px solid #CCCCCC;
}

.commentform form {
	width: 100%;
}

.commentform form textarea {
	width: 100%;
	padding: 0;
}

#credits {
	font-size: 11px;
	color: #AAAAAA;
	text-align: right;
}

#credits a {
	color: #AAAAAA;
}

#credits a:active {
	color: #FF0000;
}

.name {
	text-align: right;
	font-size: 11px;
}

/* Included pages: SYNTAX {{include file="xyz"}} */
.include {
	background-color: #F5F5F5;
	padding: 8px;
}

/* Outgoing hyperlinks: SYNTAX ((http://slashdot.org nerds)) */
.outerlink {
	color: #990000;
}

fieldset {
	padding: 10px;
}

.missingpage {
	border-bottom: 1px dashed orange;
}

.searchbar {
	background-color: #DDDDDD;
	font-family: Verdana;
	font-size: 13px;
	line-height: 1.3em;
}

.searchbar input {
	border: none;
	border-bottom: 1px solid #CCCCAA;
	padding: 0px;
	margin: 0px;
}

.logBtn {
	height: 21px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#tooltip {
	background: #FFFFFF;
	border: 1px solid #666666;
	color: #333333;
	font: menu;
	margin: 0px;
	padding: 3px 5px;
	position: absolute;
	visibility: hidden
}

.upload td {
	padding: 2px 5px 2px 5px;
	vertical-align: bottom
}

.upload td.dt-, .upload td.file- {
	white-space: nowrap;
	font-size: 80%;
	font-weight: bold;
	color: #000000
}

.upload td.dt- {
	padding-right: 0
}

.upload td.remove- {
	padding-right: 0
}

.upload td.size- {
	padding-right: 0;
	text-align: right
}

.upload td.desc- {
	font-size: 80%;
	color: #444444;
	width: 100%
}

.upload td.dt- .dt2-, .upload td.remove- .remove2-, .upload td.size- .size2- {
	font: 11px Tahoma;
	color: #666666;
}

.upload td.remove- a.remove2-:hover, .upload td.remove- a.remove2-:active {
	color: #ff0000
}
.preview {margin-top: .8em; margin-left: 2px; margin-bottom: 2px; margin-right: 2px; padding: 10px; border:red 2px solid;}
.preview p {color:red; font-weight:bold; margin: -1.5em 0px 10px 0px; padding: 0; border: 0;}
.preview p span {background:#FFF; padding:0 1px;}

.layout-box {margin-top: .8em; margin-left: 2px; margin-bottom: 2px; margin-right: 2px; padding: 10px; border:#CCCCCC 1px solid;}
p.layout-box {background: transparent; margin: -1.5em 0px 10px 0px; padding: 0; border: 0;}
p.layout-box span {background:#FFF; padding:0 1px;}

.buttonsspacer {
	width:10px;
	height:1px;
}

/* WikiEdit Toolbar -------------------------------------- */

#buttons_1 {
	clear:none;
	float:left;
	padding:0 0 0 0;
}

#buttons_1 li {
	float:left;
	padding-right:0.3em;
	white-space:nowrap;
	list-style:none outside none;
}

.toolbar li {
	background: ButtonFace;
}

.toolbar .btn-, .toolbar .btn-hover, .toolbar .btn-active, .toolbar .btn-pressed {
	background: ButtonFace;
	color: ButtonText;
	border: 1px solid ButtonFace;
	padding: 1px;
	margin: 0px;
	cursor: pointer;
}

.toolbar img {
	width: 20px;
	height: 20px;
}
.toolbar .btn-hover {
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.toolbar .btn-active, .toolbar .btn-pressed {
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.toolbar .btn-pressed {
	background: ButtonHighlight;
}

.toolbar .btn-separator {
border-left: 1px solid buttonshadow;
border-right: 1px solid buttonhighlight;
height: 18px;
margin: 3px;
padding: 0;
width: 0;
}
.edname-w, .edname-r, .edname-s {
	font: bold 14px Arial;
	border: 3px solid #D4D0C8;
	padding: 0 7px;
	color: #ffffff;
	vertical-align: middle;
}

.edname-w {
	background: #1E9905;
}

.edname-r {
	background: #2A45D0;
}

.edname-s {
	background: #D08C2A;
}

.autocomplete-inplace {
	background: ButtonFace;
	border: 1px solid ButtonShadow;
	padding: 2px;
	font: 12px Arial;
}

.autocomplete-inplace div {
	padding: 2px 5px;
	cursor: pointer;
}

.autocomplete-inplace div.ac-over- {
	color:#ffffff;
	background: #1E9905;
}


/* CSS form formater */
.cssform p {
	width: 300px;
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 155px; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
}

.cssform label {
	font-weight: bold;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type="text"] { /*width of text boxes. IE6 does not understand this attribute*/
	width: 180px;
}

.cssform textarea {
	width: 250px;
	height: 150px;
}

.cssform span.site_count {
	font-weight: normal;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.BewareChangeLang{
	border: 1px solid #ffee66;
	width: 400px;
	background-color: #ffffdd;
	background-image: url(../../../images/warning.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 10px 10px;
	margin: 10px;
	padding: 5px 5px 5px 40px;
}

/* cssform1 for actions */
#cssform1 {
	width:50%;
	padding:10px;
	margin:0 auto;
}

#cssform1 p {
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 20%; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
}

#cssform1 label {
	float: left;
	margin-left: 0px; /*
	margin-left: -155px; width of left column*/
	width: 150px;/* width of labels. Should be smaller than left column (155px) to create some right margin*/
}
#cssform1 input[type="text"] { /*width of text boxes. IE6 does not understand this attribute*/
	width: 180px;
}

#cssform1 textarea {
	width: 250px;
	height: 150px;
}

#cssform1 span.site_count {
	font-weight: normal;
	float: left;
	margin-left: 0px; /*
	margin-left: -155px; width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

/* feed action */
.feed {
	overflow:auto;
}

.feed .note {
	font-size: 11px;
	color: #777;
}

.feed .note a {
	color: #777;
}

.feed_element_title {
	/* We're going to add some space next to the titles so we can fit the 16x16 favicon image. */
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:0 1px;
	padding-left:20px;
}
/*Handlers --------------------------------------------------*/
#content {
	clear: both;
}

#navigation {
	padding: 0px 0px 0px 0px; /*overflow:hidden;*/
}

#usermenu {
	margin: 0 auto 0;
	overflow: hidden;
	float: left;
	text-align: left;
	position: relative;
}

#usermenu ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

#usermenu li {
	border-left: 1px solid;
	float: left;
	line-height: 1.2em;
	margin: 0 .5em 0 -.5em;
	padding: 0 .5em 0 .5em;
	white-space: nowrap;
}

#usermenu li a {
	display: inline;
	border: none;
	text-decoration: none;
}

#usermenu li a:visited {
	color: #990000;
}

#usermenu li a:hover {
	color: #B90022;
	text-decoration: underline;
}

#usermenu li a:active {
	color: #FF0000;
}

#search {
	margin: 0 auto 0;
	overflow: hidden;
	float: right;
	text-align: left;
	position: relative;
}

#search label {
	display: none;
}

#header-top {
	margin: 0 auto 0;
	overflow: hidden;
	float: left;
	text-align: left;
	position: relative;
	font-size: 1.3em;
}

#login {
	font-size: 12px;
	margin: 0 auto 0;
	overflow: hidden;
	float: right;
	text-align: left;
	position: relative;
}

#login form {
	display: inline;
}

#login ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#login li {
	border-left: 1px solid #aaa;
	float: left;
	line-height: 1.2em;
	margin: 0 .5em 0 -.5em;
	padding: 0 .5em 0 .5em;
	white-space: nowrap;
}

#login li a {
	display: inline;
	border: none;
	text-decoration: none;
}

#login li a:visited {
	color: #003399;
}

#login li a:hover {
	color: #B90022;
	text-decoration: underline;
}

#login li a:active {
	color: #FF0000;
}

/* temp */
.topnav {
	float: right;
	font-size: 0.6875em;
	margin-top: 0.9375em;
}

.topnav ul,.topnav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.topnav ul {
	display: block;
}

.topnav li {
	display: inline;
	margin-right: 1.1em;
}

/*search*/
.highlight {
	background-color: #FFFEA1;
}

#search_results li {
	margin: 1em 0;
}

#search_results li div { /*padding-left: 20px;*/
	
}

#search_results h3 {
	font-size: 14px;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.userprofil {
	color: #444444;
	font-weight: bold;
	width:100px;
	white-space:nowrap;
	vertical-align: top;
	padding-right:20px;
}

.desc_rss_feed {
	float:right;
	margin-right:20px;
}

.ul_letters {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ul_letters li {
	float: left;
	line-height: 1.2em;
	margin: 0 0.5em 0 -0.5em;
	padding: 0 0.5em;
	white-space: nowrap;
}

.pagination {
	float: right;
}

.ul_list, .revisions {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ul_list ul {
	list-style-type: none;
	padding-left: 20px;
}

ul.upload, ul.upload ul {
	list-style-type: none;
	padding: 0;
}

.upload li {
	display: block;
	overflow: hidden;
	padding-bottom: 5px;
	text-align: left;
}

.info_title{
	display: block;
	float: left;
	text-align: left;
	width: 130px;
}

/* properties */
.lined td, .lined th {
	border-bottom: 1px dotted #BABFC7;
}

.lined:hover {
	background: #CCFFCC;
}

.page_settings {
	float: left;
}
.page_tools {
	float: right;
	padding: 0px 40px 10px 10px;
	
}

.menu
{
	list-style:none outside none;
	float:right;
	margin:0;
	padding:0;
}

.menu li {
	border-left:1px dotted #CCCCCC;
	float:left;
	line-height:1.2em;
	margin:0 0.5em 0 -0.5em;
	padding:0 0.5em;
	white-space:nowrap;
}