
/* Wiki Formatting ---------------------------------------- */

/* Definitions: SYNTAX (?icq i seek you?) */
dfn { font-variant: small-caps; letter-spacing: 0.1em; font-style: normal; cursor: help; border-bottom: 1px dotted #000; }


/* Strike through text: SYNTAX --text-- */
del { color:#999999 }
del a:visited, del a:link { color:#999999 }


cite {color:#888800;font-style:normal;}

/* Horizontal rule: SYNTAX ---- */
hr {
border-color:#CCCCCC;
border-style:solid none none;
border-width:1px 0 0;
}

/* No line break */
.nobr {white-space: nowrap}

/** List-related *************************************************************/

/* SYNTAX "  *", "  1.", etc. */

ul, ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/** Header related ***********************************************************/

/* SYNTAX ==, ===, ====, =====, ======, ======= */

form, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

h1 {
	font-family: Verdana;
	font-size: 23px;
	padding-top:2px;
	padding-bottom:7px;
	line-height: 110%;
	color: #333333;
}
h2 { font-family: Verdana; font-size: 20px; margin-top:20px; margin-bottom:5px; border-bottom:3px dotted #ddd}
h3 { font-family: Verdana; font-size: 17px; margin-top:15px; margin-bottom:5px; border-bottom:2px dotted #ddd}
h4 { font-family: Arial;   font-size: 16px; margin-top:15px; margin-bottom:5px; border-bottom:1px #999999 solid }
h5 { font-family: Arial;   font-size: 14px; margin-top:10px; margin-bottom:5px; border-bottom:1px #bbbbbb solid }
h6 { font-family: Arial;   font-size: 12px; }

/* Centered text: SYNTAX %%(wacko wrapper=text wrapper_align=center)text%% */
.center{  text-align: center;}

/* Indent text: SYNTAX "  ", "  1.", etc. */
.indent {  margin-left: 40px;}

/** Revisions-related *********************************************************/

/* Displays text: "This is an old revision of..." */
.revisioninfo {
  color: #AAAAAA;
  padding-bottom: 20px;
}

/* Displays text: "Comparison for..." */
.diffinfo { font-weight: bold; color: #555555; }

/* Simple differences */
.additions {
background-color: #EEFFEE;
}
.deletions {
background-color: #FFEEEE;
}
.additions, .deletions {
padding: 3px;
}


/* Default differences */
ins.diff {
	font-weight: bold;
	color:#008800;
	text-decoration: underline;
	background-color: #efe;
}
del.diff {
	font-style: italic;
	color:#c00;
	text-decoration: line-through;
	background-color: #fee;
}

/* Code areas: SYNTAX %%code%% */

.code {
  background: #FFFFFF;
  border: 1px #888888 solid;
  font-family: "Courier New";
  font-size: 10pt;
  margin:1em 1.75em;
  overflow:auto;
  padding:0.25em;
}

.notes {  color: #888800; }

/** Table-related ************************************************************/

/* Bordered tables: SYNTAX #|| || Here | there || ||# */
.usertable {
  border: 1px none;
  border-collapse: collapse;
}

.usertable th {
  background-color:#EEEEEE;
}

.usertable td, .usertable th
{
  border-width: 1px;
  border-color: #CCCCCC;
  border-style: solid;
  padding: 4px;
  vertical-align: top;
}

.usertable tr:hover {
  background-color: #CCFFCC;
}

/* 100%-width tables: SYNTAX #| || Here | there || |# */
.dtable { width:100%; border: 0px none; border-collapse: collapse; }
.dtable td { vertical-align:top; border-width: 0px;  border-color: #999999;  border-style: none;  padding: 4px; }

/* Inside the table of content: SYNTAX {{toc}} */
.toc1 { margin-left:0px; padding-left:0px; font-weight:bold; list-style-type:none;  }
.toc2 { margin-left:0px; padding-left:15px; list-style-type:none;  }
.toc3 { margin-left:0px; padding-left:30px; list-style-type:none;  }
.toc4 { margin-left:0px; padding-left:45px; list-style-type:none;  }
.toc5 { margin-left:0px; padding-left:60px; list-style-type:none;  }
.toc6 { margin-left:0px; padding-left:75px; list-style-type:none;  }

/** Chat-related *************************************************************/

/* SYNTAX %%(micq)%%, %%(icq_l)%%, %%(icq_m)%% */

.micq1 { padding:2px; vertical-align:top; white-space: nowrap; font-weight: bold  }
.micq2 { padding:2px; vertical-align:top; white-space: nowrap; font:10px tahoma, arial }
.micq3 { padding:2px; vertical-align:top; width:100% }

/** Email-related ************************************************************/

/* Quoted message on new email */

.email1 {color:#800000}
.email2 {color:#808000}
.email-odd {color:#800000}
.email-even {color:#808000}

/* Quotes: SYNTAX <[text]> */
blockquote {  border-left:#cccccc 3px solid; padding:5px; color: #666666; }
blockquote p {  padding:0px;  margin: 5px 0px; }

/* Paragraphs */
p.auto { margin:0px; padding:0px; font-size:100%; }
.pmark { color:#cccccc;font:10px Arial }
.pmark a:link,
.pmark a:visited { color:#cccccc }
.pmark a:hover,
.pmark a:active  { color:#cc3300 }
.pright {}
.pright .p- { float:right; padding: 0 0 0 15px;  }
.pright .pbody- { }

.pleft { padding:0 }
.pleft .p- { float:left; padding: 0 15px 0 0;  }
.pleft .pbody- { padding:0 }

/** Text highlighter-related *************************************************/

/* SYNTAX %%(hl xyz)%% */

.hl-main {font-family: monospace; font-size:13px;}
.hl-gutter { background-color: #CCCCCC; padding-right: 10px;
             font-family: monospace; font-size:13px;}
.hl-table {border: solid 1px #000000; }

.hl-default { color: #000000; }
.hl-code { color: #7f7f33; }
.hl-brackets { color: #009966; }
.hl-comment { color: #7F7F7F; }
.hl-quotes { color: #00007F; }
.hl-string { color: #7F0000; }
.hl-identifier { color: #000000; }
.hl-reserved { color: #7F007F; }
.hl-inlinedoc { color: #0000FF; }
.hl-var { color: #0066FF; }
.hl-url { color: #FF0000; }
.hl-special { color: #0000FF; }
.hl-number { color: #007F00; }
.hl-inlinetags { color: #FF0000; }
.hl-builtin    { color:#996633; }

/** Wrapper-related **********************************************************/

/* SYNTAX %%(wrapper xyz)%% */

div.action           {
	margin:2px;
	background: #f6f7ed;
	border: 1px dotted #CCCCCC;
}
div.action-content   { padding:10px 10px 25px 10px; }

/* Important colored text: SYNTAX !!(red)text!! */
.cl-red {color: #CC0000;}
.cl-green {color: #008000;}
.cl-blue {color: #0000CC;}
.cl-yellow {color: #ffff00;}

/* Fixed width text: SYNTAX ##monospace## */
tt { color:#666600; background:#ffffcc; padding: 0 2px }

/* Important text: SYNTAX !!text!! */
.cite {color:#ff0000;font-style:normal;}

/* underline text: SYNTAX __text__ */
.underline { text-decoration:underline; }

/* Highlighted text: SYNTAX ??text?? */
.mark {background: #ffffaa; /* old red: #ffaaaa */ }

/* Highlighted text: SYNTAX ??(green)text?? */
.mark-yellow {background: #ffff00;}
.mark-green {background: #008000;}
.mark-blue {background: #0000ff;}
.mark-red {background: #ff0000;}

