

/* Wiki Formatting ---------------------------------------- */

/* Definitions: SYNTAX (?icq i seek you?) */
dfn { font-variant: small-caps; letter-spacing: 0.1em; font-style: normal; cursor: help; border-bottom: 1px dotted #000; }


/* Strike through text: SYNTAX --text-- */
del a:visited, del, del a:link { color: #999999 }


cite { color: #888800; font-style: normal; }

/* Horizontal rule: SYNTAX ---- */
hr {
border-color:#CCCCCC;
border-style:solid none none;
border-width:1px 0 0;
}

/* No line break */
.nobr {white-space: nowrap}

/** List-related *************************************************************/

/* SYNTAX "  *", "  1.", etc. */

/* Lists */
ul, ol { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px }
 

/** Header related ***********************************************************/

/* SYNTAX ==, ===, ====, =====, ======, ======= */

form, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

h1 { padding-top: 2px; padding-bottom: 7px; font: 18pt Trebuchet MS }
h2 { padding-top: 20px; padding-bottom: 5px; font: italic normal 16pt Trebuchet MS }
h3 { padding-top: 15px; padding-bottom: 5px; font: 14pt Trebuchet MS }
h4 { padding-top: 15px; padding-bottom: 5px; font: italic bold 10pt Trebuchet MS }

/* Centered text: SYNTAX %%(wacko wrapper=text wrapper_align=center)text%% */
.center{ text-align: center }

/* Indent text: SYNTAX "  ", "  1.", etc. */
.indent {  margin-left: 40px;}

/** Revisions-related *********************************************************/

/* Displays text: "This is an old revision of..." */
.revisioninfo {
  color: #AAAAAA;
  padding-bottom: 20px;
}

/* Displays text: "Comparison for..." */
.diffinfo { font-weight: bold; color: #555555; }

/* Simple differences */
.additions { color: #008800; }
.deletions { color: #880000; }

/* Default differences */
ins.diff { color: #c00; font-weight: bold; text-decoration: underline }
del.diff { color: #c00; font-style: italic; text-decoration: line-through }

/* Code areas: SYNTAX %%code%% */

.code { border: solid #888888 2px; width: 80%; padding: 3px; background: #FFFFFF; color: black; font: 10pt Lucida Console }

.notes { color: #888800 }



/** Table-related ************************************************************/

/* Bordered tables: SYNTAX #|| || Here | there || ||# */
.usertable { 
	border: 1px none; 
	border-collapse: collapse 
}


.usertable td, .usertable th
{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 4px;
  vertical-align: top;
}
/* 100%-width tables: SYNTAX #| || Here | there || |# */
.dtable { width:100%; border: 0px none; border-collapse: collapse; }
.dtable td { vertical-align:top; border-width: 0px;  border-color: #999999;  border-style: none;  padding: 4px; }

/* Inside the table of content: SYNTAX {{toc}} */
div.toc1 { margin-left: 0px; padding-left: 0px; list-style-type: none; font-weight: bold }
div.toc2 { margin-left: 0px; padding-left: 15px; list-style-type: none }
div.toc3 { margin-left: 0px; padding-left: 30px; list-style-type: none }
div.toc4 { margin-left: 0px; padding-left: 45px; list-style-type: none }
div.toc5 { margin-left: 0px; padding-left: 60px; list-style-type: none }
div.toc6 { margin-left: 0px; padding-left: 75px; list-style-type: none }

/** Chat-related *************************************************************/

/* SYNTAX %%(micq)%%, %%(icq_l)%%, %%(icq_m)%% */
td.micq1 {padding: 2px; white-space: nowrap; font-weight: bold;}
td.micq2 {padding: 2px; white-space: nowrap; font: 10px Trebuchet MS, Tahoma, Arial;}
td.micq3 {padding: 2px; width: 100%; }

/** Email-related ************************************************************/

/* Quoted message on new email */

.email1 {color:#800000}
.email2 {color:#808000}
.email-odd {color:#800000}
.email-even {color:#808000}

/* Quotes: SYNTAX <[text]> */
blockquote { border-left: #999 3px solid; padding: 5px }
blockquote p { padding: 0px; margin: 5px 0px }

/* Paragraphs */
p.auto { margin: 0px; padding: 0px; font-size: 100% }
.pmark { color: #cccccc; font: 10px Arial }
.pmark a:link,
.pmark a:visited { color: #cccccc }
.pmark a:hover,
.pmark a:active { color: #cc3300 }
.pright { }
.pright .p- { float: right; padding: 0 0 0 15px }
.pright .pbody- { }

.pleft .p- { float: left; padding: 0 15px 0 0 }
.pleft, .pleft .pbody- { padding: 0 }


/** Text highlighter-related *************************************************/

/* SYNTAX %%(hl xyz)%% */

.hl-main {font-family: monospace; font-size:13px;}
.hl-gutter { background-color: #CCCCCC; padding-right: 10px;
             font-family: monospace; font-size:13px;}
.hl-table {border: solid 1px #000000; }

.hl-default { color: #000000; }
.hl-code { color: #7f7f33; }
.hl-brackets { color: #009966; }
.hl-comment { color: #7F7F7F; }
.hl-quotes { color: #00007F; }
.hl-string { color: #7F0000; }
.hl-identifier { color: #000000; }
.hl-reserved { color: #7F007F; }
.hl-inlinedoc { color: #0000FF; }
.hl-var { color: #0066FF; }
.hl-url { color: #FF0000; }
.hl-special { color: #0000FF; }
.hl-number { color: #007F00; }
.hl-inlinetags { color: #FF0000; }
.hl-builtin    { color:#996633; }

/** Wrapper-related **********************************************************/

/* SYNTAX %%(wrapper xyz)%% */

div.action           { margin:2px; background: #eeeeee; }
div.action-content   { padding:10px 10px 25px 10px; }

/* Important colored text: SYNTAX !!(red)text!! */
.cl-red {color: #CC0000;}
.cl-green {color: #008000;}
.cl-blue {color: #0000CC;}
.cl-yellow {color: #ffff00;}

/* Fixed width text: SYNTAX ##monospace## */
tt { color:#666600; background:#ffffcc; padding: 0 2px; }

/* Important text: SYNTAX !!text!! */
.cite {color:#ff0000;font-style:normal;}

/* underline text: SYNTAX __text__ */
.underline { text-decoration:underline; }

/* Highlighted text: SYNTAX ??text?? */
.mark { background:#ffaaaa; }

/* Highlighted text: SYNTAX ??(green)text?? */
.mark-yellow {background: #ffff00;}
.mark-green {background: #008000;}
.mark-blue {background: #0000ff;}
.mark-red {background: #ff0000;}